.list-ul{
    list-style:none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 96%;
}
.list-li{
    background-color: black;
    text-align: center;
    color: antiquewhite;
    margin: 10px 0px 10px 2px;
    padding:10px;
    cursor: pointer;
    width: 30%;
}
.list-li:hover{
    background-color:#da1e1e;
}